*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'montebello';
    src: url(montebello-regular.ttf)format("truetype"), url(montebello-light.otf)format("opentype");
    font-weight: normal;
    font-style: normal;
}
body{
    width: 100%;
    height: 100%;
    background: red;
    overflow: hidden;
}
.wrapper{
    width:400px ;
    height:340px ;
    background: whitesmoke;
    border-radius: 7px;
    box-shadow: 0 6px 4px -4px rgb(0, 0,0,0.25);
}
.wrapper .title{
    line-height: 80px;
    background: gray;
    padding-left: 20px;
    border-radius: 7px 7px 0 0;
    font-size: 25px;
    color: rgb(240, 243, 247);
    font-weight: 600;
    font-family: 'montebello',Times,serif;
}